DENO_ENV=development # production, testing or development

SERVER_PORT=10000

# Postgres database
DB_HOST=dev_database # The host of postgres database service
DB_PORT=5432 # may be omitted in production if the host dosen't require the port
DB_NAME=mecha_agent
DB_USERNAME=default-postgres-username
DB_PASSWORD=default-postgres-password
DB_REQUIRE_SSL_MODE=false # Set to "true" only in production for secure connection

# Qdrant vector database
VECTOR_DB_HOST=dev_vector_database
VECTOR_DB_PORT=6333 # may be omitted in production if the host dosen't require the port
VECTOR_DB_API_KEY= # in production only to connect to a remote database

# MinIO object storage database
OBJECT_STORAGE_DB_HOST=dev-object-storage # The host of MinIO or any S3-Compatible object storage service
OBJECT_STORAGE_DB_PORT=9000 # may be omitted in production if the host dosen't require the port
OBJECT_STORAGE_USERNAME=default-minio-username
OBJECT_STORAGE_PASSWORD=default-minio-password
OBJECT_STORAGE_SSL=false # Set to "true" only in production for secure connection

OLLAMA_HOST=dev_ollama:11434 # The host of the AI models management service (Ollama) (Only in development)

GEMINI_API_KEY="" # only in production to connect to a remote Google Gemini

# For now, The chosen models in development must be available on Ollama hub (https://ollama.com)
# And the chosen model in production must be Google Gemini
MODEL_NAME=qwen2.5:3b-instruct # Model responsible for answering questions, E.g "qwen2.5:3b-instruct", "deepseek-r1" or "gemini-2.0-flash"
EMBEDDING_MODEL_NAME=all-minilm:l6-v2 # Model responsible for embedding text, E.g "all-minilm:l6-v2" or "text-embedding-004"

# The secret key that is used to generate and verify the JWTs 
JWT_SECRET_KEY=_KU37YA2sfg9-aJfyg56uEry1 # More shoter for development or testing environments
# Example: g56u2JfZXXE7YAjpYwkPvquh1_ne8PNKUy8JRria0K9XKLQy_NsFSVVghuw9-ulUARFvCNrR4gkdriNGJCVry6pn9tTJ-F_
# IMPORTANT!: This variable must be identical to `AUTH_SECRET` environment variable in the
# client side (https://github.com/AbdulrhmanGoni/mecha_agent_client) to be able to verify the 
# generated JWTs by the client.
