services:
  testing_server:
    build:
      context: ../
      dockerfile: docker/ServerDockerfile
    container_name: testing_server_container
    ports:
      - 10001:10001
    command: deno run -N -E -R -W --watch --unstable-kv --unstable-cron src/server.ts
    image: mecha_agent_server:test
    volumes:
      - ../src:/mecha-agent-server/src:ro
      - ../tests:/mecha-agent-server/tests:ro
      - ../types:/mecha-agent-server/types:ro
    env_file:
      - .env.testing
    networks:
      - testing-network
    depends_on:
      - testing_database
      - testing_vector_database
    restart: always

  testing_database:
    image: postgres:17.3
    container_name: testing_database_container
    ports:
      - 10002:5432
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    networks:
      - testing-network
    restart: always

  testing_vector_database:
    image: qdrant/qdrant:v1.13.3
    container_name: testing_vector_database_container
    ports:
      - 10003:6333
      - 10033:6334
    networks:
      - testing-network
    restart: always

networks:
  testing-network:
    driver: bridge
