name: Deploy
on:
  workflow_dispatch:
  workflow_call:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Prepare environment variables for HTML mails bundler
        run: echo "CLIENT_URL=${{ vars.CLIENT_URL }}" >> .env

      - name: Bundle HTML mails templates
        run: deno task bundle-html-mails-templates:prod

      - name: Install the database migration tool (dbmate)
        run: deno install npm:dbmate

      - name: Sync database schema with latest changes
        run: deno -E --allow-run dbmate --url "${{ secrets.DB_URL }}" up

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: "mecha-agent"
          entrypoint: "src/server.ts"
          exclude: docker,scripts,tests,html-mails-templates,db
